<div class="home-page">
  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">Alexandr Pasko</h1>
      <img
        src="assets/images/cosoria.JPG"
        id="carlos_photo"
        alt="Carlos Osoria"
      />
      <p class="speach">"You are an awesome student Alexandr!"</p>
    </div>
  </div>

  <div class="container1">
    <div class="item item1">
      <img
        class="img_placeholder"
        src="https://via.placeholder.com/900"
        alt=""
      />
    </div>
    <div class="item item2">
      <h2 class="heading_2">Get To Know Me</h2>
      <p class="para1">
        My name is Alexandr Pasko. I am a highly motivated, energetic & results
        focused Full Stack Web/Software Developer with over 2 years of proven
        experience in building dynamic, scalable, and responsive web
        applications.
      </p>
      <p class="para1">
        To say that I love programming would not be an overstatement. Facing a
        new challenge is what drives me to think, act ,and problem solve.
      </p>
      <a class="link_to_connect" href="https://alexandrpasko.com/"
        >Visit My Website</a
      >
      <a class="link_to_connect" href="https://github.com/alexandrpasko"
        >Visit My GitHub</a
      >
      <a
        class="link_to_connect"
        href="https://www.linkedin.com/in/alexandr-pasko/"
        >Visit My LinkedIn</a
      >
    </div>
  </div>
</div>
